.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  float: left;
  overflow: hidden;
  background-color: #e9e9e9;
  width: 50%;
}

.navbar .search-container {
  float: right;
}

.navbar .search-container .name {
  border: none;
  font-size: 18px;
  padding: 6px;
  margin-top: 10px;
  height: 30px;
  width: 300px;
  margin-right: 6px;
}

.record {
  /* background-color: #e7e7e7;
  color: black;
  border-radius: 8px;
  border: none;
  font-size: 30px;
  font-weight: bold;
  padding: 6px 14px; */
  transition-duration: 0.3s;
  margin-left: 3px;
  margin-top: 6px;
  border-radius: 50%;
  width: 43px;
  height: 43px;
  font-size: 0;
  background-color: grey;
  border: none;
}

.record:hover {
  background-color: red;
  border: 3px solid darkred;
  color: white;
}

.login {
  background-color: #e7e7e7;
  color: black;
  border-radius: 8px;
  border: none;
  transition-duration: 0.3s;
  font-size: 30px;
  font-weight: bold;
  padding: 6px 14px;
  margin-left: 3px;
  margin-top: 6px;
}

.login:hover {
  background-color: gray;
  border: none;
  color: white;
}

.list {
  background-color: white;
  border: 1px solid black;
  border-radius: px;
  text-decoration: none;
  transition-duration: 0.3s;
  font-weight: bold;
  display: block;
  text-align: left;
  max-height: 583px;
  position: relative;
  overflow: scroll;
}

.list:hover {
  background-color: #f0e68c;
}

.list-item {
  background-color: #fffacd;
  display: block;
  border: 1px solid #f0e68c;
  text-align: left;
  margin: 0px;
  font-size: 16px;
  padding: 12px 16px;
  height: 53px;
  font-weight: bold;
  text-decoration: none;
  transition-duration: 0.3s;
}

.buttongroup {
  border-radius: 16px;
  border: 1px solid black;
  height: 40px;
  padding: 2px;
  text-align: center;
}

.output {
  background-color: #fffacd;
  display: block;
  border: 1px solid black;
  height: 512px;
  margin: 4px;
  margin-top: 20px;
  border-radius: 4px;
  position: relative;
  overflow: scroll;
}

.list-item:hover {
  background-color: #f0e68c;
}

span {
  font-family: "font";
}

img {
  width: 100%;
  animation: fadein 3s;
  -webkit-animation: fadein 3s;
}

.mic {
  animation: none;
}

p {
  margin-left: 25px;
  margin-right: 25px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
