.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  overflow: hidden;
  background-color: #e9e9e9;
}

.navbar .search-container {
  float: right;
}

.navbar .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  transition-duration: 0.4s;
}

.navbar .search-container button:hover {
  background: #ccc;
}

.Plus-button {
  background-color: #e7e7e7;
  color: black;
  border-radius: 8px;
  border: 2px solid #e7e7e7;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  font-size: 20px;
  font-weight: bold;
  padding: 24px;
  margin: 3px;
}

.Plus-button:hover {
  background-color: #555555;
  border: 2px solid #555555;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
